@using Business.Models
@model IEnumerable<Member>

@{
	ViewData["Title"] = "Team Members";
}

<partial name="Partials/Sections/_AddMemberForm" model="new AddMemberForm()" />


<section id="team-members">
	<header class="page-header">
		<h2>Team Members</h2>
		<button type="button" data-modal="true" data-target="#addMemberModal" class="btn btn-add btn-blue">Add Member</button>
	</header>

	<div class="members-list">
		@if (Model != null)
		{
			@foreach (var member in Model)
			{
				<div class="card memeber">
					<h4 class="name">@member.FirstName @member.LastName</h4>
					<div class="jobtitle">@member.JobTitle CEO</div>
					<div class="email">@member.Email</div>
					<div class="phone">@member.Phone</div>
					<div class="role"></div>
				</div>
			}
		}
	</div>
</section>



